@import "../../common/styles/constants";

#particles-js{
  position:absolute;
  top:0;
  width:100%;
  height:100%;
}

body {
  font-family: $font-family;
}

html {
  overflow: hidden;
}

a {
  text-decoration: none;
}